* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    /* margin-top: 100px; */
    padding: 50px 100px;
    /* background-color: #999;
        */
    border: solid 2px #007bc7;
}

.form-item {
    font-size: 18px;
    width: 100%;
    display: flex;
    margin-bottom: 12px;
    /* border: 1px solid #999; */

}

.form-item p {
    width: 15%;
    padding: 12px 10px 5px 10px;
    border: solid 2px #007bc7;
    background-color: #4ba3ff;
    margin-right: 15px;
    color: white;
    text-align: center;
}

input[type="text"] {
    width: 50%;
    border: solid 2px #007bc7;
    outline: none;
}

input[type="date"] {
    border: solid 2px #007bc7;
    outline: none;
}

input[type="radio"] {
    margin-right: 12px;
}

.sex {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

select {
    border: solid 2px #007bc7;
    width: 30%;
    outline: none;
    font-size: 16px;
}

.submit-wrapper {
    justify-content: center;
    margin-top: 45px;
}

input[type="submit"] {
    padding: 12px 30px;
    background-color: #39bc64;
    border-radius: 10px;
    border: solid 2px #007bc7;
    cursor: pointer;
    color: white;
    font-size: 17px;
}

input[type="file"] {
    margin-top: 10px;
}

i {
    color: red;
}

.error {
    margin-bottom: 8px;
    font-size: 18px;
    color: red;
}