fieldset {
    width: 470px;
    margin: 12%;
    margin-left: 32%;
    border: 1px solid#4eb6c8;
}

.username {
    background-color: #4eb6c8;
    color: azure;
    padding: 10px 20px;
    margin-right: 25px;
    width: 100px;
    text-align: center;
    border: 1px solid #4eb6c8
}

.text {
    border: 1px solid #4eb6c8;
    padding: 10px;
    width: 278px;
}

.apartment {
    margin-top: 20px;

}

.course {
    width: 300px;
    border: 1px solid #4eb6c8;
}
.subject{
    width: 300px;
    border: 1px solid #4eb6c8;
}
.teacher{
    width: 300px;
    border: 1px solid #4eb6c8;
}

.button {
    margin-left: 40%;
    width: 100px;
    margin-top: 30px;
    height: 30px;
    background-color: #4eb6c8;
    border: 1px solid #6aebf7;
    border-radius: 5px;
    color: white;
    transition-duration: 0.4s;

}

.action {
    width: 50px;
    margin-top: 10px;
    height: 30px;
    background-color: #4eb6c8;
    border: 1px solid #6aebf7;
    color: white;
    transition-duration: 0.4s;

}

.button:hover {
    opacity: 0.8;
}

.style {
    display: flex;
}

.text {
    border: 1px solid #4eb6c8;
}

.table {
    margin-top: 30px;
    border-collapse: separate;
    border-spacing: 30px 20px;
    width: 100%;
}

.search {
    margin-top: 20px;
}